<html>
  <head>
    <title>ROBOT WORLD</title>
  </head>
  <body>
    <h1>All the Robots!</h1>

    <% @robots.each do |robot| %>

      <div class="col-md-5 robot-display img-rounded"><h3>(<%= robot.id %>) <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
        <br><img class="center-block" src="<%= robot.avatar %>" width="75%"><br>
      <form action="/robots/<%= robot.id %>" method="POST">
        <a class="btn btn-info pull-right" href="/robots/<%= robot.id %>/edit">Edit</a>
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger pull-right">Delete</button>
      </form>

    </div>
    <% end %>

  </body>
</html>
